@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none; }

body {
  width: 100%;
  height: 100%;
  color: black;
  background: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px; }

.linha-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.coluna-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.alinha-centro {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.justifica-centro {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

section {
  padding: 50px 0px; }

header#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999; }
  header#header nav.navbar {
    padding: 15px; }
    header#header nav.navbar a.navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 115px;
      height: 115px;
      background: #7a1e1b;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 15px; }
      header#header nav.navbar a.navbar-brand img {
        width: 100px;
        height: auto;
        -o-object-fit: contain;
        object-fit: contain; }
    header#header nav.navbar ul.navbar-nav li.nav-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100px; }
      header#header nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700; }
    header#header nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link,
    header#header nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link,
    header#header nav.navbar ul.navbar-nav li.nav-item.active a.nav-link,
    header#header nav.navbar ul.navbar-nav li.nav-item.active a.nav-link {
      color: #e27900;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    header#header nav.navbar ul.navbar-nav li.nav-item.delivery {
      border-radius: 4px;
      background: #e27900; }
    header#header nav.navbar ul.navbar-nav li.nav-item.delivery:hover {
      background: #ffffff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

@media screen and (min-width: 992px) {
  header#header nav.navbar ul.navbar-nav.mobile {
    display: none; } }

@media screen and (max-width: 991px) {
  header#header {
    width: 100%; }
    header#header nav.navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
      header#header nav.navbar a.navbar-brand {
        margin: 0 auto; }
      header#header nav.navbar ul.navbar-nav.desktop {
        display: none; }
      header#header nav.navbar #navbarTogglerDemo01 {
        position: relative; }
      header#header nav.navbar ul.navbar-nav.mobile {
        position: absolute;
        margin-top: 20px;
        left: 0;
        width: 100%;
        z-index: 999;
        background: rgba(0, 0, 0, 0.9); }
        header#header nav.navbar ul.navbar-nav.mobile li.nav-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          width: auto;
          padding: 0px 10px; }
          header#header nav.navbar ul.navbar-nav.mobile li.nav-item a.nav-link {
            width: 100%; }
        header#header nav.navbar ul.navbar-nav.mobile li.nav-item.delivery {
          border-radius: 0; }
      header#header nav.navbar button.navbar-toggler {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        outline: none;
        cursor: pointer; }
        header#header nav.navbar button.navbar-toggler span.navbar-toggler-icon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding: 0;
          margin: 0;
          margin-right: 15px; }
          header#header nav.navbar button.navbar-toggler span.navbar-toggler-icon i {
            font-size: 30px;
            color: #ffffff; }
        header#header nav.navbar button.navbar-toggler span {
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff; }
      header#header nav.navbar button.navbar-toggler:hover span.navbar-toggler-icon i,
      header#header nav.navbar button.navbar-toggler.active span.navbar-toggler-icon i {
        font-size: 30px;
        color: #e27900;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; } }

.secao-topo[data-pagina="sobre"] {
  background: url("../imagens/atuais/PizzaPush.jpg") center no-repeat;
  background-size: cover; }

.secao-topo[data-pagina="cardapio"] {
  background: url("../imagens/atuais/PizzaPush.jpg") center no-repeat;
  background-size: cover; }

.secao-topo[data-pagina="reservas"] {
  background: url("../imagens/atuais/PizzaPush.jpg") center no-repeat;
  background-size: cover; }

.secao-topo[data-pagina="contato"] {
  background: url("../imagens/banner-contato.jpg") center no-repeat;
  background-size: cover; }

.secao-topo {
  padding: 45px 0px;
  padding-bottom: 25px;
  width: 100%;
  height: 100vh;
  max-height: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }
  .secao-topo h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    position: relative;
    z-index: 10; }
  .secao-topo .icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10; }
    .secao-topo .icone i {
      font-size: 6px;
      color: #ffffff;
      margin: 0px 8px; }
  .secao-topo .icone:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    left: 0;
    background: #cccccc;
    width: 50px;
    height: 2px; }
  .secao-topo .icone:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    right: 0;
    background: #cccccc;
    width: 50px;
    height: 2px; }

.secao-topo::before {
  content: "";
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

@media screen and (max-width: 991px) {
  .secao-topo h1,
  .secao-topo .icone {
    display: none; } }

.nome-pagina {
  padding-bottom: 20px; }
  .nome-pagina h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
    position: relative;
    z-index: 10; }
  .nome-pagina .icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10; }
    .nome-pagina .icone i {
      font-size: 6px;
      color: #000000;
      margin: 0px 8px; }
  .nome-pagina .icone:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    left: 0;
    background: #cccccc;
    width: 50px;
    height: 2px; }
  .nome-pagina .icone:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    right: 0;
    background: #cccccc;
    width: 50px;
    height: 2px; }

@media screen and (min-width: 992px) {
  .nome-pagina {
    display: none; } }

.secao1 ul.nav.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  margin-bottom: 70px;
  width: 100%; }
  .secao1 ul.nav.nav-tabs li.nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 5px; }
    .secao1 ul.nav.nav-tabs li.nav-item a.nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      white-space: normal;
      background: transparent;
      border: 2px solid #000000;
      line-height: 40px;
      border-radius: 0;
      padding: 0 30px;
      text-transform: uppercase;
      font-size: 15px;
      color: #363636;
      font-weight: 700;
      width: 100%; }
    .secao1 ul.nav.nav-tabs li.nav-item a.nav-link:hover,
    .secao1 ul.nav.nav-tabs li.nav-item a.nav-link.active {
      color: #e27900;
      border: 2px solid #e27900;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s; }

.secao1 .tab-content .tab-pane .coluna1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .secao1 .tab-content .tab-pane .coluna1 h3 {
    font-size: 32px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .secao1 .tab-content .tab-pane .coluna1 img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain; }

.secao1 .tab-content .tab-pane .coluna2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  background: #ffffff;
  margin-bottom: 25px; }
  .secao1 .tab-content .tab-pane .coluna2 .card .card-header {
    border: none;
    background: #ffffff;
    padding: 0; }
    .secao1 .tab-content .tab-pane .coluna2 .card .card-header img {
      width: 50px;
      height: auto;
      -o-object-fit: contain;
      object-fit: contain; }
  .secao1 .tab-content .tab-pane .coluna2 .card .card-body {
    border: none;
    background: #ffffff;
    padding: 0px 15px; }
    .secao1 .tab-content .tab-pane .coluna2 .card .card-body h5.titulo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      height: auto;
      background: #ffffff; }
      .secao1 .tab-content .tab-pane .coluna2 .card .card-body h5.titulo span {
        position: relative;
        z-index: 2;
        padding: 0 5px 0 0;
        background-color: inherit; }
      .secao1 .tab-content .tab-pane .coluna2 .card .card-body h5.titulo span.preco {
        font-weight: 400;
        padding: 0 0 0 5px; }
        .secao1 .tab-content .tab-pane .coluna2 .card .card-body h5.titulo span.preco i {
          margin-right: 3px; }
    .secao1 .tab-content .tab-pane .coluna2 .card .card-body h5.titulo:after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      border-bottom: 1px dashed;
      z-index: 1; }
    .secao1 .tab-content .tab-pane .coluna2 .card .card-body p {
      font-size: 14px;
      color: #5c5c68;
      padding-top: 10px; }

.secao1 .tab-content .tab-pane .card:last-child {
  margin: 0; }

footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer .footer1 {
    padding: 0px 0px;
    background: #efe6da;
    background-size: cover; }
    footer .footer1 .col-sm-12.col-md-6.col-lg-4.p4 i {
      background: #fff;
      padding: 5px; }
    footer .footer1 .col-sm-12.col-md-6.col-lg-4.p4 i:hover {
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      background: #e27900;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      color: #fff; }
    footer .footer1 .col-sm-12.col-md-6.col-lg-4 {
      margin: 15px 0px; }
      footer .footer1 .col-sm-12.col-md-6.col-lg-4 h3 {
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid;
        line-height: 40px;
        margin-bottom: 20px; }
      footer .footer1 .col-sm-12.col-md-6.col-lg-4 i {
        margin: 3px; }
      footer .footer1 .col-sm-12.col-md-6.col-lg-4 ul {
        list-style-type: none; }
      footer .footer1 .col-sm-12.col-md-6.col-lg-4 a {
        color: #5c5c68; }
      footer .footer1 .col-sm-12.col-md-6.col-lg-4 .business-list a:hover {
        color: orange;
        text-decoration: none; }
      footer .footer1 .col-sm-12.col-md-6.col-lg-4 p {
        color: #5c5c68; }
    footer .footer1 input {
      line-height: 22px;
      border: 1px solid;
      border-color: #dad1c2;
      background-color: transparent;
      padding: 4px 5px;
      border-radius: 0;
      width: 100%;
      outline: 0;
      margin-bottom: 10px; }
    footer .footer1 input:focus {
      border-color: orange; }
    footer .footer1 button {
      background: #000;
      color: #fff;
      border: 0;
      text-transform: uppercase;
      width: auto;
      padding: 0 20px;
      line-height: 35px;
      margin-bottom: 5px; }
  footer .footer2 {
    padding: 25px 0px;
    background: #e0ceb6; }
    footer .footer2 h6 {
      font-size: 14px;
      font-weight: 400;
      color: #000000; }
    @media screen and (max-width: 1200px) {
      footer .footer2 {
        margin-bottom: 0px; } }

@media screen and (max-width: 991px) {
  .secao1 ul.nav.nav-tabs li.nav-item {
    width: calc(50% - 10px); }
  .secao1 .tab-content .tab-pane#aba1 .coluna2,
  .secao1 .tab-content .tab-pane#aba3 .coluna2,
  .secao1 .tab-content .tab-pane#aba5 .coluna2 {
    margin-top: 30px; }
  .secao1 .tab-content .tab-pane#aba2 .coluna1,
  .secao1 .tab-content .tab-pane#aba4 .coluna1,
  .secao1 .tab-content .tab-pane#aba6 .coluna1 {
    margin-top: 30px; } }

@media screen and (max-width: 767px) {
  .secao1 ul.nav.nav-tabs li.nav-item {
    width: 100%; } }
